.container-doable {
  position: relative;
  width: 375px;
  min-height: 640px;
  background: gainsboro;
  height: 667px;
}

.container-header {
  width: 100%;
  height: 48px;
  left: -1px;
  top: 0px;
  background: #e5e7eb;
  padding-top: 12px;
  padding-left: 131px;
}

.container {
  margin: 96px 18px 290px 14px;
}

.text-input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
}

.text-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ec4899;
}

.margin-bottom {
  margin-bottom: 250px;
}

.container-search-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 326px;
  height: 42px;
  left: 0px;
  top: 60px;
  margin-left: 18px;
}
.container-search-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 326px;
  height: 42px;
  left: 0px;
  top: 104px;
  margin-left: 18px;
}

.select-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 13px;
  gap: 4px;
  width: 250px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.margin-left-18 {
  margin-left: 18px;
}

.typo {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
}

.container-tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  height: 340px;
  left: 16px;
  top: 164px;
  margin-left: 16px;
  margin-right: 16px;
  width: 315px;
  margin-bottom: 10px;
  overflow-y: auto;
  border-radius: 5px;
}

.container-task {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  width: 344px;
  height: 44px;
  padding: 0px;
}

.task-container {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  padding: 0px;
  gap: 8px;
  width: 315px;
  height: 44px;
}

.task-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}

.container-new-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  margin-left: 16px;
  margin-right: 16px;
  position: absolute;
  width: 315px;
  height: 134px;
  left: 14px;
  top: 506px;
  margin-top: 10px;
}

.input-new-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 13px;
  width: 100%;
  height: 42px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.container-new-task button {
  width: 100%;
}

.task-container {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 190px;
}

.task-text {
  display: flex;
  align-items: center;
}

.container-icons-header {
  display: flex;
}

.logout {
  position: absolute;
  right: 0;
  margin-right: 16px;
  margin-top: 3px;
}
